<h1>PACIENTE - FORMULÁRIO</h1>
<form action="" FormGroup>

    <div>
        <p>Nome do Paciente</p>
        <input id="nomePacienteId" type="text" placeholder="Insira o nome completo"/>
        <p>CPF</p>
        <input id="cpfId" type="text" placeholder="Insira o CPF"/>
        <p>Data de Nascimento</p>
        <input id="dataNascimentoId" type="date" placeholder="Insira a data de nascimento"/>
    </div>

    <div>
        <button type="button" (click)="enviar()">Enviar</button>
    </div>
</form>