<div class="shadow p-3">

    <h2 class="mb-5 mt-3 display-4">Pesquisar Médico</h2>

    <form [formGroup]="formulario" class="row">
        <div class="col">
            <label class="form-label" for="nome">NOME</label>
            <input
                class="form-control" 
                type="text" 
                id="nome" 
                formControlName="nome"
                placeholder="Insira o nome do médico"
            />
        </div>

        <div class="col mb-3">
            <label class="form-label" for="crm">CRM</label>
            <input
                class="form-control"
                type="text"
                id="crm"
                formControlName="crm"
                placeholder="Insira o CRM do médico"
            />
        </div>

        <div class="clearfix">  
            <div class="float-end">
                <button class="btn btn-light shadow" id="limpar" (click)="limpar()"><i class="bi bi-trash3"></i> 
                    Limpar</button>
                &nbsp;
                <button class="btn btn-info shadow" id="pesquisar" (click)="pesquisar()"><i class="bi bi-search"></i> 
                    Pesquisar</button>
                &nbsp;
                <button class="btn btn-primary shadow" id="voltar" (click)="moverParaTelaDeCadastro()"><i 
                    class="bi bi-plus-lg"></i> Cadastrar Médico</button>
            </div>
        </div>
    </form>

    <table class="table table-hover mt-3" *ngIf="ehListagemVisivel">
        <thead>
            <tr>
                <th scope="col">CRM</th>
                <th class="text-start" scope="col">Nome</th>
                <th class="float-end" style="margin-right: 4rem;" scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>    
            <tr *ngFor="let medico of medicos">
                <th>{{ medico.crm }}</th>
                <td class="text-start">{{ medico.nome | titlecase }}</td>
                <td class="text-end">
                    <button class="btn btn-info" (click)="editar(medico)">Atualizar</button>
                    &nbsp;
                    <button class="btn btn-warning" (click)="deletar(medico)"> Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>