<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow mb-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">WSG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a [ngClass]="{'nav-link': true, 'active': isPaginaAtiva('/')}" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a [ngClass]="{'nav-link': true, 'active': isPaginaAtiva('/medico')}" [routerLink]=""
                        (click)="navegarParaPagina('medico')"> Médico</a>
                </li>
                <li class="nav-item">
                    <a [ngClass]="{'nav-link': true, 'active': isPaginaAtiva('/paciente')}" [routerLink]=""
                        (click)="navegarParaPagina('paciente')">Paciente</a>
                </li>
                <li class="nav-item">
                    <a [ngClass]="{'nav-link': true, 'active': isPaginaAtiva('/consulta')}" [routerLink]=""
                        (click)="navegarParaPagina('consulta')">Consulta</a>
                </li>
            </ul>
        </div>
    </div>
</nav>